%a{name: '#comments', data: {magellan_destination: 'comments'}}
  %h2= t('.title')
.comments
  - commentable.comments.includes(:user).each do |comment|
    = render 'comments/comment', comment: comment
#new-comment-button.small.button.success.radius.icon-comment
  = t('.add_comment')
= render 'comments/form', comment: Comment.new, commentable: commentable
