<% if target.errors.any? %>
<div id="error_explanation">
  <h2><%="#{target.errors.count} #{t(".error", count: target.errors.count)} #{t('.header')}"%></h2>
  <ul>
  <% target.errors.full_messages.each do |error_msg| %>
    <li><%= error_msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
