
<h1>Create a new contract category</h1>

<p>
  The available categories are:
  <ul class="noedit">
    <% @categories.each do |cat| %>
    <li><%= cat.name %></li>
    <% end %>
  </ul>
</p>

<p>If you want to create a new category please enter a name for the new category</p>

<%= render 'form', target: @category %>

<p><%= link_to "Home", "/index" %></p>
