ha eliminado un
%strong= comentario
en un
- comment = Comment.find(activity.trackable_id)
%strong= link_to t("#{ comment.commentable_type.underscore }",                |
  scope: [:activerecord, :models]).downcase,                                  |
  send("#{ comment.comentable_type.underscore }_url", comment.commentable_id) |
