$heading-font: "Montserrat", sans-serif;
$body-font: "Muli", sans-serif;

$main-blue: #3CC8DE;
$fold-blue: #66E5FA;

$main-grey: #54636B;
$fold-grey: #8E8E93;

$secondary-grey: #F6F6F6;

$main-orange: #FF9500;
