@mixin with-fold($fold-color: #66E5FA, $bg: WHITE, $bottom: -4px) {
  .with-fold:before {
    content: "";
    position: absolute;
    bottom: $bottom;
    right: 0;
    width: 0px;
    height: 0px;
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    border-color: $fold-color $bg $bg $fold-color;
    border-top-left-radius: 5px;
    box-shadow: -5px -5px 15px -5px rgba(0, 0, 0, 0.3);
  }
}
