@import 'foundation/components/grid';
@import 'foundation/components/panels';
@import 'foundation/components/buttons';
@import 'foundation/components/type';
@import 'ah-defaults';
@import 'with-fold';

.landing {
  background: lighten($main-blue, 15%);
  @include with-fold($fold-color: $fold-blue, $bg: lighten($main-blue, 15%));
}

.static-content {
  box-shadow: 0px 5px 50px -10px $main-grey;
}

.hero-panel {
  @include panel($bg: $main-blue, $padding: 20px);
  margin-bottom: 5px;
}

.last-panel {
  margin-bottom: 0px;
}

.transition-panel{
  background-color: $main-orange;
  @media #{$small-only} {
    padding: 20px 40px;
  }
  padding: 60px 100px;
  & h1 {
  color: darken(white, 5%);
  font-family: join("Bevan", $heading-font);
  }
}

#hero {
  @media #{$small-only} {
    padding: 40px;
    padding-top: 150px;
  }
  padding: 180px;
}

#summary {
  @media #{$small-only} {
    padding: 40px;
  }
  padding: 180px;
}

h1.hero-title {
  color: $main-grey;
  font-family: join("Bevan", $heading-font);
 }

.panel-definition {
  margin-bottom: 15px;
  h4 small {
    color: darken(white, 5%);
  }
}

.panel-text {
  @media #{$small-only} {
    margin-bottom: 0px;
  }
  margin-bottom: 100px;
  h3{
    color: lighten($main-grey, 2%);
    margin-bottom: 10px;
    font-family: join("Kameron", $body-font);
    font-weight: normal;
    margin-bottom: 20px;
    @extend .text-justified;
    & span { color: darken(white, 5%); }
  }
}

.down-scroll, .back-to-top {
  @extend .text-center;
  color: rgba(142, 142, 147, 0.5);
  & span:hover {
    color: rgba(84, 99, 107, 0.7);
   }
}

.call-to-register {
  @include button($padding: $button-sml, $bg: $main-orange, $radius: 10px);
  @extend .right;
  font-family: $heading-font;
  font-size: 1.2em;
}

#track {
  @media #{$small-only} {
    padding: 20px 80px 20px 80px;
  }
  padding: 80px 180px 20px 80px;
}

#inspect {
  @media #{$small-only} {
    padding: 20px 80px 20px 80px;
  }
  padding: 80px 180px 20px 180px;
}

#report {
  @media #{$small-only} {
    padding: 20px 80px 20px 80px;
  }
  padding: 80px 140px 20px 140px;
}

.rep-illustration {
  margin-bottom: 20px;
  @media #{$large-up}{
    position: absolute;
    left: -120px;
    top: 330px;
    max-width: 600px;
  }
  position: relative;
}

img.maximum {
  @media #{$medium-up} {
    max-height: 560px;
  }
  @media #{$small-only} {
    max-width: 320px;
    max-height: 320px;
  }
}
