@import "foundation_and_overrides";
@import "ah-defaults";
@import "with-fold";

#page_header {
  position: relative;
  background-color: #3CC8DE;
  color: #FFF;
  height: 78px;
  padding: .3125em 1.25em .3125em 1.25em;
  border-bottom: solid #93DDEB 4px;
  a,
  a:link,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
    color: #000;
  }
  .ah-logo {
    position: relative;
    display: block;
    float: left;
    margin-left: 20px;
    width: 286px;
    height: 66px;
  }

  #utility {
    font-size: 1em;
    margin: 0px;
    margin-right: 20px;
    vertical-align: middle;

    & ul {
      float: right;
      list-style: none;
      text-align: center;
      margin-top: 15px;
    }

    & li {
      display: inline-block;
      zoom: 1;
      vertical-align: middle;
      position: relative;
      margin-left: 20px;
    }

    input {
      border-radius: 7px;
      height: 2em;
      &[type=search] {
        background:
        url("http://png.findicons.com/files/icons/1389/g5_system/16/toolbar_find.png")
        #36B4C7 center right no-repeat;
        color: #FFF;
        border-color: #3CC8DE;
      }
    }

    #user_settings_button {
      @include button;
      @include button-size($button-tny);
      @include button-style(#FFF);
      @include single-transition;
      @include inset-shadow;
      border-radius: 7px;
      padding-top: 6px;
      padding-bottom: 7px;
      color: #3CC8DE;
    }

    #drop li {
      display: block;
      text-align: left;
    }
  }

  #logo {
    max-width: 100%;
  }

  &:before {
    content: "";
    background: #3CC8DE;
    position: absolute;
    top: 0;
    bottom: -4px;
    border-bottom: solid #93DDEB 4px;
    width: 999px;
    right: 100%;
    display: block;
  }
  & span#fold:before {
    content: "";
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 0px;
    height: 0px;
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    border-color: $fold-blue white white $fold-blue;
    border-top-left-radius: 5px;
    box-shadow: -5px -5px 15px -5px rgba(0, 0, 0, 0.3);
  }
}

div.container {
  padding: 0;
}

#sidebar {
  @media only screen and(max-width: 765px) {
    @include grid-column($columns: 12);
  }
  @include grid-column($columns: 3, $collapse: true);
  line-height: 1.3em;
  padding: 0 10px 10px;
  a,
  a:link,
  a:visited {
    text-decoration: none;
    margin: 0;
  }
}

#content {
  @media only screen and(max-width: 765px) {
    @include grid-column($columns: 12);
  }
  @include grid-column($columns: 9);
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

footer#page_footer {
  position: relative;
  font-size: 0.8em;
  height: 100px;
  text-align: center;
  padding: 30px;
  background: #2B2B2B;
  color: #FEFEFE;
  margin-top: 50px;

  &:before {
    content: "";
    background: #2B2B2B;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 999px;
    right: 100%;
    display: block;
  }

  ul {
    margin-left: -10px;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;

    li{
      border-right: 1px solid #fef8e7;
      display: inline;
      margin: 0;
      &:last-child {
        border-right: none;
      }
      a {
        padding: 5px 10px;
      }
    }
  }
}

#login-btn {
  background: transparent;
  border: none;
  color: #fff;
}
