nav#main_nav {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  color: #36B4C7;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 0px;

  &.row {
    display: block;
  }

  ul {
    margin-left: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: solid 1px #54636B;
  }

  li {
    display: inline-block;
    margin: 0 1em;
    padding: 4px 6px;
    border-bottom: solid 3px #54636B;
    a,
    a:link,
    a:visited {
      color: #54636B;
      text-decoration: none;
      text-align: center;
    }
    &:hover {
      border-bottom: solid 3px #36B4C7;
    }
  }
  i {
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  span {
    display: block;
    margin-bottom: 10px;
    font-size: 0.9em;
  }
}
