@import 'foundation/components/buttons';
section#sidebar {
  line-height: 1.3em;
  padding: 0 10px 10px;
  a,
  a:link,
  a:visited {
    text-decoration: none;
  }
}
.btn-tny {
  @include button($full-width: true);
  padding: 15px;
  margin-bottom: .25rem;
  text-align: left;
  font-size: 0.8rem;
}
.inactive {
  a, a:link, a:visited {
    color: #fff;
  }
  background-color: #aaa;
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
