@import 'foundation_and_overrides';
fieldset {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -moz-border-radius: 10px;
 }

.row {
  padding-bottom: 15px;
  //border: dashed thin black;
}
.new_comment {
  display: none;
}

.comment-time {
  font-size: 80%;
  color: rgba(1,1,1,0.4);
}

.comment-content {
  color: rgba(1,1,1,0.6)
}

    @include form-error-color;
    margin-bottom: 0;
  }

  label,
  label.error {
    @include form-label-error-color;
    display: block;
    padding: $input-error-message-padding;
    font-size: $input-error-message-font-size;
    font-weight: $input-error-message-font-weight;
  }

  small.error {
    @include form-error-message;
  }

  span.error-message {
    display: block;
  }
}
form input[type=submit] {
  @include button;
  @include button-size($button-sml);
  @include single-transition;
  @include button-style($success-color, true);
  @include inset-shadow(true)
}

