@import 'foundation_and_overrides';
@import 'ah-defaults';
@import 'with-fold';

body, p {
  font-family: "Muli", sans-serif;
  font-size: $body-font-size;
}

b {
  margin-bottom: 6px;
}

fieldset {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -moz-border-radius: 10px;
 }

.row {
  padding-bottom: 15px;
}

.section-label {
  font-weight: bold;
  color: $main-blue;
  font-family: $heading-font;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.icons-ul.comments {
  margin-left: 4em;
}

.comment {
  list-style: none;
  margin-bottom: 25px;
}
.comment-label {
  font-weight: bold;
  display: inline-block;
  font-size: rem-calc(12);
  font-family: $heading-font;
  color: #333333;
}
.comment-time {
  font-family: $heading-font;
  background: $highlight-grey;
  font-size: rem-calc(12);
  color: white;
  margin-right: 2px;
  display: inline-block;
  padding: 0 5px;
}
.comment-content {
  color: rgba(1,1,1,0.6);
  display: block;
  font-family: $body-font;
  font-size: rem-calc(13);
}

.documents {
  padding: 0px 20px;
}

/* Responsive Tables */
table {
  tr:hover td{
    background-color: #FFFAF0; color: #000;
  }
  thead tr th {
    text-align: center;
    text-transform: uppercase;
    font-family: $heading-font;
    font-size: rem-calc(12);
    background: $main-blue;
    color: #fff;
  }
  td {
    text-align: left;
    font-size: rem-calc(12);
  }
  &.layout {
    width: 100%;
    border-collapse: collapse;
  }
  &.display {
    th, td {
      border: 1px solid #B3BFAA;
      padding: .5em 1em;
    }
  }
  &.responsive-table {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }
  @media (max-width: "#{upper-bound($small-range) }" ) {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    a, a:visited { color: #3CC8DE; }
    &.display {
      margin: auto;
    }
    &.responsive-table {
      box-shadow: none;
      thead {
        display: none;
      }
      td:before {
        content: attr(data-label);
        position: absolute;
        left: 1em;
        font-weight: bold;
        font-family: $heading-font;
      }
      tr, td {
        display: block;
      }
      tr {
        position: relative;
        padding: .5em;
        margin: 0em .5em 1em;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
        border: 1px solid #B3BFAA;
        @include radius();
      }
      td {
        border: none;
        text-align: right;
        &.identifier{
          font-family: $heading-font;
          background: #727A81;
          color: #fff;
          border-top: 1px solid #B3BFAA;
          border-bottom:center 1px solid #B3BFAA;
          text-align: center;
        }
        &.actions {
          position: absolute;
          top: .7em;
          border: none;
          background: none;
          &.edit {
            right: 10%;
          }
          &.delete {
            right: 1%;
          }
        }
      }
    }
  }
}
.center {
  text-align: center;
}

.separator {
  border-top: 1px solid #f3f3f3;
}

.field_with_errors {
  input,
  textarea,
  select {
    @include form-error-color;
    margin-bottom: 10px;
  }

  label,
  label.error {
    @include form-label-error-color;
    display: block;
    padding: $input-error-message-padding;
    font-size: $input-error-message-font-size;
    font-weight: $input-error-message-font-weight;
  }

  small.error {
    @include form-error-message;
  }

  span.error-message {
    display: block;
  }
}
form input[type=submit] {
  @include button($radius: 5px, $bg: rgb(236, 76, 78));
  @include button-size($button-tny);
  text-transform: uppercase;
}
.thmbnail {
  margin: auto;
  width: 100%;
}

/* Notices */
.flash {
  border: 1px solid;
  @include radius;
  padding: 5px 5px 5px 15px;
  margin: 5px 15px 20px 15px;
}
.notice {
  color: darkgreen;
  border-color: green;
  background: lightgreen;
}
.alert {
  color: darkred;
  border-color: red;
  background: lightcoral;
}
.timedout {
  display: none;
}

/* Error displays */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  @include radius;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: none;
  }
}
.entity {
  padding-bottom: 10px;
}

/* Autocompletion */
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #fff;
    border-top: solid 1px #ddd;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #fffcb2;
    }
  }
}

/* Pagination */
.pagination {
  padding:.3em;
  margin:.3em;
  font: 13.34px helvetica, arial, freesans, clean, sans-serif;
  a {
    padding: .3em .2em .1em;
    margin: .2em;
    color: rgb(149, 133, 133);
    text-decoration: none;
    &:hover, &:active {
      color: #000;
    }
  }
  span {
    &.current {
      padding:.3em .2em .1em;
      margin:.2em;
      font-weight:bold;
      background-color:#369;
      color:#FFF;
    }
    &.disabled {
      padding:.1em .3em;
      margin:.2em;
      color:#ddd;
    }
  }
}

.entry-count {
  float: right;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Form inline hints */
.form_hint {
  font-size: 70%;
  background: #d45252;
  @include radius;
  color: white;
  margin-left: 8px;
  padding: 3px 8px;
  z-index: 1;
  position: absolute;
  display: none;
  &::before {
    content: "\25B2";
    color: #d45252;
    position: absolute;
    z-index: -1;
    top: -9px;
    left: 6px;
  }
}
.field {
  input, textarea, select {
    border-radius: 5px;
    background: #f6f6f6;
    &:focus ~ .form_hint {
      display: inline;
    }
    &:required {
      background: #f6f6f6 image-url("red_asterisk.png") no-repeat scroll 95% center;
      background-size: 0.3em;
    }
    &:required:valid ~ .form_hint {
      background: #28921f;
      &::before {
        color: #28921f;
      }
    }
    input[type="checkbox"], input[type="radio"] {
      background: red;
    }
  }
  label { margin-bottom: 5px; }
}
.required_notification {
  color: #d45252;
  margin: 5px 0 0 0;
  display: inline;
  float: right;
}

/* Timepicker */
.ui-timepicker-div {
  .ui-widget-header {
    margin-bottom: 8px;
  }
  dl {
    text-align: left;
    font-size: 70%;
    dt {
      float: left;
      clear: left;
      padding: 0 0 0 5px;
    }
    dd {
      margin: 0 10px 10px 45%;
    }
  }
}

#content_nav {
  @include with-fold($fold-color: $fold-grey, $bottom: 0px);
  font-family: $heading-font;
  a, a:link, a:visited {
    color: #fff;
    font-size: 1rem;
  }
  ul {
    list-style: none;
    text-align: justify;
    margin-left: 0px;
    li {
      display: inline-block;
      zoom: 1;
      *display:inline;
    }
    span {
      font-size: 0.7em;
      display: inline-block;
      margin: 0 10px;
    }
    i {
      color: $main-blue;
    }
  }
  .btn {
    @include button($bg: $main-grey, $radius: 5px);
    padding: rem-calc(20);
    height: 50px;
    width: 220px;
    text-align: left;
    vertical-align: middle;
    min-height: 77px;
    font-size: 1rem;
    border-right: 1px solid white;
    text-transform: uppercase;
    margin-left: 0.6em;
  }
}

.btn-label {
  width: 80%;
}

.infinite-scroll {
  overflow-y: auto;
}

.task-icon {
  color: black;
}

.detail-title {
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px 20px;
  font-family: "Montserrat", sans-serif;
  background: #54636B;
  #model_number {
    font-size: 1.2rem;
    font-weight: bold;
    color:white;
  }
  #model_title {
    margin-left: 5px;
    color: lightgray;
    font-size: 0.8rem;
  }
}

.content-title {
  border: 1px solid lightgray;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px 30px;
  font-family: "Montserrat", sans-serif;
  background: #54636B;
  &.row { margin-bottom: 10px; }
  & > h5 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 1rem;
  }
}

.content-container {
  font-size: 0.9rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 15px;
  overflow: auto;
}

.search-box-container {
  padding: 10px;
  &.row { margin-bottom: 10px; }
}

.content-footer {
  &.row { margin-top: 10px; }
}

section.row {
  padding: 5px 0 15px 0;
  margin: 0;
}

#asset-slideshow {
  margin-top: 10px;
}

.field-title {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}
.highlight {
  background: $main-blue;
  color: white;
  padding-left: 40px;
  padding-top: 2px;
  width: 60%;
  margin-bottom: 15px;
}

#help {
  position: relative;
  i { float: left; }
  h4 {
    position: relative;
    left: -20px;
  }
}
