@import 'foundation_and_overrides';
fieldset {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -moz-border-radius: 10px;
 }

.row {
  padding-bottom: 15px;
  //border: dashed thin black;
}
.new_comment {
  display: none;
}

.comment-time {
  font-size: 80%;
  color: rgba(1,1,1,0.4);
}

.comment-content {
  color: rgba(1,1,1,0.6)
}

footer {
  text-align: center;
  padding: 30px;
}

.documents {
  padding: 0px 20px;
}

tr:hover td {
  background-color: #FFFAF0; color: #000;
}

table {
  margin: auto;
  width: 100%;
}
table thead tr th {
  text-align: center;
}

.center {
  text-align: center;
}

.field_with_errors {
  input,
  textarea,
  select {
    @include form-error-color;
    margin-bottom: 10px;
  }

  label,
  label.error {
    @include form-label-error-color;
    display: block;
    padding: $input-error-message-padding;
    font-size: $input-error-message-font-size;
    font-weight: $input-error-message-font-weight;
  }

  small.error {
    @include form-error-message;
  }

  span.error-message {
    display: block;
  }
}
form input[type=submit] {
  @include button;
  @include button-size($button-sml);
  @include single-transition;
  @include button-style($success-color, true);
  @include inset-shadow(true)
}
.thmbnail {
  margin: auto;
  width: 100%;
}
.flash-notice {
  color: darkgreen;
  border: 1px solid green;
  background: lightgreen;
  @include radius;
  padding: 5px 5px 5px 15px;
  margin-bottom: 20px;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  @include radius;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: none;
  }
}
