<h1>Edit Contract Category</h1>

<%= form_tag "/categories/#{@category.id}", :method => :put do %>
  <%= label_tag 'Category name: ' %>
  <%= text_field_tag 'name', @category.name %>
  <%= submit_tag 'Edit Category', :confirm => 'Are you sure there is not another category with that name?', :disable_with => 'Creating new category...' %>
<% end %>
