
<h1>Contract Categories</h1>

<h2>Available Contract Categories</h2>

<ul>
  <% @categories.each do |cat|%>
  <li>
    <%= cat.name %>
     &nbsp
    <%= link_to "Edit", edit_category_url(cat.id) %> |
    <%= link_to "Delete", category_url(cat.id), :method => :delete, :confirm => "Are you completely sure you want to erase #{cat.name} category?" %>
  </li>
  <% end %>
</ul>

<%= link_to 'Create a new category', new_category_url  %>
