.row
  .twelve.columns.centered
    %dl#magellanTopNav.sub-nav{data: {magellan_expedition: ''}}
      %dd.active{data: {magellan_arrival: 'top'} }
        %a{href: '#top'} Top
      %dd{data: {magellan_arrival: 'record'}}
        %a{href: "#record"} Inspection Record
      %dd{data: {magellan_arrival: 'vehicle-information'}}
        %a{href: "#vehicle-information"} Vehicle Information
      %dd{data: {magellan_arrival: 'documents'}}
        %a{href: "#documents"} Documents
      %dd{data: {magellan_arrival: 'general'}}
        %a{href: "#general"} General Condition
      %dd{data: {magellan_arrival: 'insurance'}}
        %a{href: "#insurance"} Insurance
      %dd{data: {magellan_arrival: 'signature'}}
        %a{href: "#signature"} Person in Charge
