%footer#page_footer.row
  %ul
    %li= link_to "Contacto", ""
    %li= link_to "Ayuda", ""
    %li= link_to "Reporte un error", ""
  %p.centered
    \© #{link_to 'Morefar S.A.S.', 'http://morefar.co/'} 2013. asset<b>hound</b>™ & assethound.co™ son marcas registradas.
