%footer#page_footer.centered
  %ul.centered
    %li= link_to "Contacto", ""
    %li= link_to "Ayuda", ""
    %li= link_to "Reporte un error", ""
  %p.centered
    %small
      \© #{link_to 'Morefar S.A.S.', 'http://morefar.co/'} 2013. AssetHound™ & assethound.co™ son marcas registradas.
